[submodule "STM32/stm32g4xx_hal_driver"]
	path = STM32/stm32g4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32g4xx_hal_driver.git
[submodule "STM32/cmsis_device_g4"]
	path = STM32/cmsis_device_g4
	url = https://github.com/STMicroelectronics/cmsis_device_g4.git
[submodule "STM32/stm32f0xx_hal_driver"]
	path = STM32/stm32f0xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f0xx_hal_driver.git
[submodule "STM32/cmsis_device_f0"]
	path = STM32/cmsis_device_f0
	url = https://github.com/STMicroelectronics/cmsis_device_f0.git
